// placeholder

// @mixin placeholder {
//   ::-webkit-input-placeholder {@content}
//   :-moz-placeholder           {@content}
//   ::-moz-placeholder          {@content}
//   :-ms-input-placeholder      {@content}  
// }

@mixin panel{
  position: absolute; top: 0;
  min-height: 100vh;
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
}

@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}