$purple: #1E152A;
$yellow: #FFF66E;
$blue: #094074;
$red: #D33F49;
$gray: #6D8397;

$py90: mix($purple, $yellow, 90%);
$py80: mix($purple, $yellow, 80%);
$py70: mix($purple, $yellow, 70%);
$py60: mix($purple, $yellow, 60%);
$py50: mix($purple, $yellow, 50%);
$py40: mix($purple, $yellow, 40%);
$py30: mix($purple, $yellow, 30%);
$py20: mix($purple, $yellow, 20%);
$py10: mix($purple, $yellow, 10%);
$py05: mix($purple, $yellow, 5%);